
.vscode
__pycache__/
reddit_old.py
Untitled.ipynb
*.txt
*_samples.csv
*.ipynb_checkpoints/
misc/
scraping/data/

prediction/models/sent_model/pytorch_model.bin
prediction/models/ner-model.pt
airflow/logs/*
airflow/airflow-scheduler.*
airflow/airflow-webserver.*